.wrapper {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.reminderBtn {
  background-color: #da0000 !important;
}

.registeredBtn {
  background-color: #9fa2a9 !important;
}

.registerBtn {
  background-color: #7b7fda !important;
}
