.container {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 52px 0px 12px 113px;
}

.first {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 27px;
  gap: 16px;
}

.backButton {
  cursor: pointer;
  width: 38px;
  height: 10.21px;
}

.title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 26px;
  letter-spacing: -1px;

  color: #313848;
}

.second {
  /* display: flex;
  height: 28px;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px; */

  width: 532px;
  display: flex;
  height: 50%;
  justify-content: space-between;
  align-items: flex-end;
}

.tab {
  /* height: 28px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 115.46%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #313848;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between; */

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 115.46%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #313848;
  cursor: pointer;
  margin-bottom: 14px;
}

.secondMobile {
  display: none;
}

.tabM {
  height: 22px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 115.46%;
  /* identical to box height, or 13px */

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #313848;

  /* opacity: 0.4; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .container {
    height: 126px;
    padding: 32px 16px 7px 9px;
  }

  .backButton {
    width: 20px;
    height: 14.21px;
  }

  .second {
    width: 100%;
  }

  .tab {
    height: 20px;
    font-size: 11px;
  }

  .second {
    display: none;
  }

  .secondMobile {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
