.container {
  /* position: sticky;
  top: 0px; */
  height: 192px;
  /* width: 100vw; */
  background-color: #fff;
}

.up_cntr {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
}

.submit_btn {
  width: 103px;
  height: 32px;
  margin-right: 8rem;
  margin-top: 20px;
}

.submit_btn > button {
  border: transparent;
  width: 103px;
  height: 32px;
  border-radius: 5px;
  background-color: #68bc98;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 100%;
  cursor: pointer;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #ffffff;
}

.down_cntr {
  margin-top: 72px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* padding-left: 416px; */
}

.down_cntr::-webkit-scrollbar {
  display: none;
}

.icon {
  width: 65px;
  height: 59px;
  margin: 26px 0px 0px 96px;
}

@media only screen and (max-width: 600px) {
  /* .up_cntr {
    justify-content: space-between;
    margin-top: 30px;
    margin: 0px 22px 0px 0px;
  } */

  .icon {
    margin: 26px 0px 0px 0px;
  }

  .submit_btn {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 426px) {
  .submit_btn {
    margin-right: 1rem;
  }
}
