.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_cntr {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  border: transparent;
  border-radius: 8px;
  color: #fff;
  background-color: darkcyan;
  height: 40px;
  width: 150px;
  cursor: pointer;
}
