.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ededee;
  height: 100vh;
  width: 100vw;
}

.mockExam_cntr {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.mockExam_cntr::-webkit-scrollbar {
  display: none;
}

.mockexam_header {
  width: 100%;
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 57px 95.39px 32px 81px;
}

.first {
  display: flex;
  width: 257.47px;
  height: 31px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.icon {
  width: 38px;
  height: 12px;
}

.heading {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 26px;
  letter-spacing: -1px;
  color: #313848;
}

.second {
  width: 180.61px;
  height: 54.68px;
  padding: 17.4px 29px;
  border-radius: 8px;
  background-color: #7b7fda;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondChild {
  /* width: 122.61px; */
  height: 21px;
  display: flex;
  justify-content: space-between;
}

.myExamButton {
  background: none;
  border: none;
  width: 92.79px;
  height: 21.54px;
  cursor: pointer;
  color: #ffffff;
  font-family: Mulish;
  font-size: 16.2263px;
  text-align: center;
}

.mockexam_body {
  height: calc(100vh - 144px);
  padding: 24px 98px 77px 96px;
}

.image_cntr {
  width: inherit;
  height: 319px;
  background-color: #7b7fda;
  border-radius: 8px;
}

.desktopImage {
  max-height: 319px;
}
.mobileImage {
  display: none;
}

.exam_component_list {
  padding: 41px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 29px;
  column-gap: 32px;
}

.exam_component_list:last-child {
  padding-bottom: 76px;
}

@media only screen and (max-width: 1341px) {
  .exam_component_list {
    grid-template-columns: 1fr 1fr;
    padding: 41px 0px 0px 0px;
  }
}

@media only screen and (max-width: 946px) {
  .exam_component_list {
    grid-template-columns: 1fr;
    padding: 41px 0px 0px 0px;
  }
}

@media only screen and (max-width: 500px) {
  .exam_component_list {
    padding: 18px 0px 0px 0px;
    row-gap: 10px;
  }
  .mockexam_header {
    height: 73px;
    padding: 6px 17px 8px 18px;
  }

  .mockexam_body {
    padding: 24px 17px 77px 17px;
  }

  .image_cntr {
    height: 144px;
  }

  .icon {
    width: 20px;
    height: 10.21px;
    margin-bottom: 7px;
  }

  .second {
    width: 109px;
    height: 33px;
    padding: 10px 17.5px;
    margin-bottom: 9px;
  }

  .secondChild {
    width: 83px;
    align-items: center;
  }

  .myExamButton {
    font-size: 11px;
  }

  .desktopImage {
    display: none;
  }
  .mobileImage {
    display: block;
  }
}
