.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.firstPartForDesktop {
  background-image: url("../public/Leaderboard/leaderboard_banner_desktop.svg");
  background-position: center;
  width: 100%;
  height: 339px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.firstPartForMobile {
  /* background-color: #7b7fda; */
  background-image: url("../public/Leaderboard/leaderboard_banner_mobile.svg");
  background-position: center;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imageD {
  position: inherit;
  top: 0px;
  left: 0px;
  z-index: 0;
  object-fit: cover;
}

.crownD {
  margin-top: 23.57px;
  /* margin-right: 70px; */
  position: absolute;
}

.crownM {
  margin-top: 25px;
  /* margin-l: 165px; */
  /* position: absolute; */
  display: flex;
  justify-content: center;
}

.placesD {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 271px;
  /* width: 516px; */
}

.placesM {
  width: 287px;
  height: 151px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top: 8px; */
  left: 36px;
}

.thirdPositionD {
  position: absolute;
  top: 102px;
  left: 0px;
  height: 161.81px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.thirdPositionM {
  position: absolute;
  top: 60px;
  left: 0px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  /* z-index: 8;
  position: relative;
  top: 60px;
  left: 0px; */
}

.thirdPositionD > .nameD {
  margin-left: -20%;
}

.thirdPositionM > .nameM {
  margin-left: -20%;
}

.firstPositionD {
  z-index: 10;
  position: relative;
  top: 5px;
  left: 85px;
}

.firstPositionM {
  z-index: 10;
  position: relative;
  top: 3px;
  left: 47px;
}

.firstPositionD > .nameD {
  /* margin-left: 55px; */
  margin-bottom: 23.34px;
}

.firstPositionM > .nameM {
  /* margin-left: 55px; */
  margin-bottom: 12px;
}

.secondPositionD {
  z-index: 9;
  position: relative;
  top: 33px;
  left: 30px;
}

.secondPositionM {
  z-index: 9;
  position: relative;
  top: 10px;
  left: 15px;
}

.secondPositionD > .nameD {
  margin-bottom: 12px;
  /* margin-left: 50px; */
}

.secondPositionM > .nameM {
  margin-bottom: 23.34px;
  /* margin-left: 50px; */
}

.nameD {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 109.2%;
  letter-spacing: 0.719164px;
  color: #ffffff;
  text-align: center;
}

.nameM {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 109.2%;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: center;
}

.secondPart {
  width: 465px;
  margin-top: 76px;
  height: calc(100% - 415px);
  background-color: #fff;
  overflow-y: scroll;
}

.secondPart::-webkit-scrollbar {
  display: none;
}

.learner {
  padding: 14px 24px 9.94px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #f1efef;
}

.learnerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}

.learnerName {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 109.2%;
  letter-spacing: 0.4px;
  color: #313848;
}

.rank {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 109.2%;
  letter-spacing: 0.4px;
  color: #313848;
  opacity: 0.7;
}

.firstPartForMobile {
  display: none;
}

@media only screen and (max-width: 500px) {
  .secondPart {
    width: 100%;
    margin-top: 68px;
    height: calc(100% - 268px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .firstPartForDesktop {
    display: none;
  }

  .firstPartForMobile {
    display: block;
  }
}
