.container {
  width: 100vw;
  height: 100vh;
}

.header {
  height: 185px;
  width: 100%;
}

.body {
  height: calc(100% - 185px);
  background-color: #e5e5e5;
  overflow-y: scroll;

  padding: 56px 97px 0px 96px;
}

.body::-webkit-scrollbar {
  display: none;
}

.upComingExams {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 31px;
  column-gap: 32px;
}

.examDiv {
  /* width: 395px; */
  /* height: 243px; */
}

.emptyState {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.viewAllExamBtn {
  height: 50px;
  width: 320px;
  background: #7b7fda;
  border: transparent;
  border-radius: 8px;

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;

  cursor: pointer;
}

@media only screen and (max-width: 1341px) {
  .upComingExams {
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
}

@media only screen and (max-width: 946px) {
  .upComingExams {
    grid-template-columns: 1fr;
    padding: 2px 0px 0px 3px;
  }
}

@media only screen and (max-width: 500px) {
  .body {
    padding: 20px 16px 40px 16px;
    height: calc(100% - 112px);
  }
  .header {
    height: 112px;
  }
}
