.main_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.question_body {
  margin-top: 48px;
  /* margin-right: 90px; */
  width: 608px;
}

.ques_title {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #313848;
  width: 100%;
}

.option_list {
  margin-top: 48px;
  width: 100%;
}

.single_optn {
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 16px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;

  display: flex;
  align-items: center;

  color: #313848;
  padding: 16px;
  cursor: pointer;
}

.optn {
  margin-left: 17px;
}

.highlight {
  background-color: #f9ad6d;
}

.btn_cntr {
  position: relative;
  width: 100%;
  /* top: 31px; */
  /* bottom: 31px; */
  height: 50px;
  margin-top: 31px;
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previous_btn {
  position: absolute;
  top: 0px;
  left: 0px;
  /* margin-bottom: 31px; */
  width: 162px;
  height: 50px;
  border: 2px solid #313848;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.next_btn {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 82%;
  /* margin-bottom: 31px; */
  width: 111px;
  height: 50px;
  background-color: #7b7fda;
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .question_body {
    margin-right: 0px;
  }

  .next_btn {
  }
}

@media only screen and (max-width: 700px) {
  .main_container {
    padding: 20px;
  }
  .question_body {
    margin-right: 0px;
    width: 100%;
  }

  .btn_cntr {
    width: 100%;
  }
  .next_btn {
    left: 76%;
  }
}

@media only screen and (max-width: 426px) {
  .next_btn {
    left: 71%;
  }
}

@media only screen and (max-width: 376px) {
  .next_btn {
    left: 67%;
  }
}

@media only screen and (max-width: 320px) {
  .next_btn {
    left: 61%;
  }
}
