.container {
  width: 100vw;
  height: 100vh;
  background: #e5e5e5;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  height: 192px;
}

.body {
  width: 100%;
  height: calc(100% - 192px);
  padding: 42px 76px 45px 118px;
  overflow-y: scroll;
}

.body::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 500px) {
  .header {
    height: 126px;
  }

  .body {
    height: calc(100% - 126px);
    padding: 22px 16px 45px 16px;
  }
}
